:root {
  /*========== Colors ==========*/
  --hue-color: 240;

  --first-color: hsl(var(--hue-color), 53%, 49%);
  --text-color: hsl(var(--hue-color), 53%, 15%);
  --white-color: #FFFFFF;
  --body-color: hsl(var(--hue-color), 24%, 94%);

}

/* Import fonts */
@font-face {
  font-family: HK Grotesk;
  src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Regular.otf?v=1603136326027")
    format("opentype");
}
@font-face {
  font-family: HK Grotesk;
  font-weight: bold;
  src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Bold.otf?v=1603136323437")
    format("opentype");
}

.page__theme {
  position: absolute;
  top: 1rem;
  right: 4rem;
  display: flex;
  padding: .25rem;
  border-radius: 50%;
  box-shadow: inset -1px -1px 1px hsla(var(--hue-color), 0%, 100%, 1), 
              inset 1px 1px 1px hsla(var(--hue-color), 30%, 86%, 1);
  color: var(--first-color);
  cursor: pointer;
  transition: .4s; 
}
.dark-theme .page__theme {
  box-shadow: inset -1px -1px 1px hsla(var(--hue-color), 8%, 20%, 1), 
              inset 1px 1px 1px hsla(var(--hue-color), 8%, 12%, 1);
}
.dark-theme {
  --body-color:hsl(var(--hue-color), 10%, 16%);
  --text-color: hsl(var(--hue-color), 12%, 95%);
}  


body {
  font-family: HK Grotesk, sans-serif;
  background-color: var(--body-color);
  color: var(--text-color)
}



a {
  font-size:0.9rem;
  color:#007bff;
  text-decoration:none;
}
img {
  border-radius:100%;
  align-items: center;
  justify-content: center;
}

.column {
  float: center;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
  text-align: justify;
  text-justify: inter-word;
}

.row {
  content: "";
  display: table;
  clear: both;
  height: 200px;
  margin: auto;
  width: 70%;
  max-width: 1300px;
  padding: 10px;
  align-items: center;
  justify-content: center;
}

.center-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  margin-bottom: 30px;
}
