/* Import fonts */
@font-face {
  font-family: HK Grotesk;
  src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Regular.otf?v=1603136326027")
    format("opentype");
}
@font-face {
  font-family: HK Grotesk;
  font-weight: bold;
  src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Bold.otf?v=1603136323437")
    format("opentype");
}

body {
  font-family: HK Grotesk, sans-serif;
  background-color: var(--color-bg);

}

a {
  font-size:0.9rem;
  color:#007bff;
  text-decoration:none;
}
img {
  border-radius:100%;
  align-items: center;
  justify-content: center;
}

.column {
  float: center;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
  text-align: justify;
  text-justify: inter-word;
}

.row {
  content: "";
  display: table;
  clear: both;
  height: 200px;
  margin: auto;
  width: 70%;
  max-width: 1300px;
  padding: 10px;
  align-items: center;
  justify-content: center;
}

.center-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  margin-bottom: 30px;
}
